<div class="createGameContainer">
  <form #gameForm="ngForm" (ngSubmit)="onSubmit(gameForm)">
    <div class="container">
      <div class="form-group">
        <label for="inputDate" class="col-form-label">Date</label>
        <input
          type="date"
          class="form-control"
          id="inputDate"
          [(ngModel)]="date"
          ngModel
          required
          name="date"
        />
      </div>
      <div class="form-group">
        <label for="place" class="col-form-label">Place</label>
        <input
          type="text"
          class="form-control"
          id="place"
          ngModel
          required
          name="place"
        />
      </div>
      <div class="form-group">
        <label for="maxPlayers" class="col-form-label"
          >MaxPlayers: {{ gameForm.form.value.maxPlayers }}</label
        >
        <input
          type="range"
          class="form-range"
          min="1"
          max="20"
          id="maxPlayers"
          ngModel
          name="maxPlayers"
          required
        />
        <div class="form-group">
          <label for="minPlayers" class="col-form-label"
            >MinPlayers: {{ gameForm.form.value.minPlayers }}</label
          >
          <input
            type="range"
            class="form-range"
            min="1"
            max="20"
            id="minPlayers"
            ngModel
            name="minPlayers"
          />
        </div>
        <div class="form-group">
          <label for="durationMin" class="col-form-label"
            >DurationMin: {{ gameForm.form.value.durationMin }}</label
          >
          <input
            type="range"
            class="form-range"
            step="15"
            min="0"
            max="180"
            id="durationMin"
            ngModel
            name="durationMin"
          />
        </div>
        <div class="form-group">
          <label for="cost" class="col-form-label"
            >Cost: {{ gameForm.form.value.cost }}</label
          >
          <input
            type="range"
            class="form-range"
            min="1"
            max="350"
            id="cost"
            ngModel
            name="cost"
          />
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item list-group-item-primary"
          *ngFor="let user of players"
        >
          <div class="player-container">
            <div class="player-username">{{ user.username }}</div>
            <button class="player-delete btn btn-danger">-</button>
          </div>
        </li>
      </ul>
      <app-add-player
        (newUserEmitter)="addUserToPlayers($event)"
      ></app-add-player>
    </div>
    <button type="submit" [disabled]="!gameForm.valid" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
