<div class="container">
    <div class="row-1">
        <div class="col">
            <h2 class="games-header">Games</h2>
        </div>
    </div>
    <div class="row-9 list-container">
        <div class="col">
            <div class="list-group">
                <div
                type="button"
                [routerLink]="['/game', game.id]"
                  class="game card text-white bg-secondary mb-3"
                  *ngFor="let game of games"
                >
                  <h5 class="date">{{ game.date | date:'fullDate' }}</h5>
                </div>
              </div>
        </div>
    </div>
    <div class="row-2">
        <div class="col plus-container">
            <div
                type="button"
                (click)="createGame()"
                  class="game card text-white bg-success mb-3"
                >
                <svg class="date" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M11.75 4.5a.75.75 0 0 1 .75.75V11h5.75a.75.75 0 0 1 0 1.5H12.5v5.75a.75.75 0 0 1-1.5 0V12.5H5.25a.75.75 0 0 1 0-1.5H11V5.25a.75.75 0 0 1 .75-.75Z">
                    </path>
                </svg>

              </div>
        </div>
    </div>
</div>

