<div class="container-fluid">
  <div class="row">
    <div class="col-1 arrow arrow-left" type="button" (click)="changeMonth(-1)">
        <p class=""><-</p>
    </div>

    <div class="col-10">
      <div class="container-fluid calendar-container">
        <div class="row rowTitle">
          <div class="col daysTitle">Monday</div>
          <div class="col daysTitle">Tuesday</div>
          <div class="col daysTitle">Wednesday</div>
          <div class="col daysTitle">Thursday</div>
          <div class="col daysTitle">Friday</div>
          <div class="col daysTitle">Saturday</div>
          <div class="col daysTitle">Sunday</div>
        </div>

        <div class="row" *ngFor="let week of getWeeks()">
          <div
            class="col-lg col-md-12 card-col"
            *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]"
          >
            <div class="card">
              <div
                class="card-body"
                type="button"
                [routerLink]="[
                  '/game/create',
                  getDateInWeek(week, day),
                  chosenDate.getMonth() + 1,
                  chosenDate.getFullYear()
                ]"
              >
                <div class="card-text">
                  <h4 class="dayNumber">
                    {{ getDateInWeek(week, day) }}
                  </h4>
                  <div class="list-group overflow-auto">
                    <a
                      type="button"
                      class="game-text list-group-item list-group-item-action"
                      *ngFor="let game of getGamesIfExist(week, day)"
                      (click)="goToGame(game.id)"
                      [ngClass]="getGameStyle(game.status)"
                    >
                      {{ game.description }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 arrow arrow-right"  type="button" (click)="changeMonth(1)">
        <p class="">-></p>
    </div>
  </div>
</div>
