.row{
    padding-bottom: 20px;
}
.buttons{
    justify-content: center;
}
.user-card{
    display: flex;
    height: 80px;
    margin-right: 100px;
    margin-left: 100px;
}
.btn{
    width: 100px;
    height: 40px;
}